
  
  nav {
    background-color: var(--color-second);
    float: none;
    display: flex;
    justify-content: space-between;
    & .nav-usuario-left{
        display: flex;
        color:var(--font-color-primary);
        & .usuario-name{
            font-size: var(--font-size-primary);
            margin:auto 1rem;
            
        }
    }
 
}
  
  nav > div {
    float: left;
    margin:auto 2rem;
    
  }
  