.product-datos-factura_finales{
    width: 100%;
   display: flex;
   justify-content: right;
   align-items: end;

   .valores{
    text-align: right;
    .modena{
        margin: 0 5px ;
       }

   }
   .total{
    font-weight: 600;
    font-size: 2vw;
   }
}