<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../public/style.css">
    <title>Ultimas Ventas</title>
  </head>
  <body>
    <nav class="nav-usuario" >
      <div class="nav-usuario-left">
        <span class="usuario-icon"> <img class="icon-1" src="../public/img/icon/usuario.png" alt="user" /> </span>
        <span class="usuario-name">Nombre</span>
      </div>
      <div class="nav-usuario-right">
        <span class="usuario-sesion"><img class="icon-2" src="../public/img/icon/correo.png" alt="sesion" /> </span>
        <span class="usuario-notificaction"><img class="icon-2" src="../public/img/icon/sesion.png" alt="notificaciones" /> </span>
      </div>
    </nav>
    <a href="./ultimasVentas.html">Nuevo</a>
    <main class="main-container container">
      <section class="main-container-registro">
        <form class="from-product-code">
          <input class="" type="text">
          <input type="submit" value="Agregar">
        </form>
        <div class="container-facturas">
          <a class="btn-p" >1</a>
          <a class="btn-p" >2</a>
          <a class="btn-p" >3</a>
        </div>
              
        <div class="main-subcontenedor">
          <table class="main-subcontenedor-titulos">
            <tr>
              <th>Id</th>
              <th>Producto</th>
              <th>Precio Uni</th>
              <th>Can</th>
              <th>Descuento</th>
              <th>Total</th>
              <th>Img</th>
            </tr>
        </table>
          <div class="product-tabs">
            <div class="tab-container">

              <div class="tab"> 
                <div class="tab-content">
                  <table>
                    <tbody  id="content-productos">
                      <tr id="producto01">
                        <th class="id">000000000000</th>
                        <th title="Estes es un producto de 100ml" class="producto">Estes es un producto de 100ml </th>
                        <th class="precio"><span class="moneda">$</span><span class="valor">999999999</span></th>
                        <th class="cantidad">99999</th>
                        <th class="descuento"><span class="moneda">$</span><span class="valor">99999999999</span></th>
                        <th class="descuento"><span class="moneda">$</span> <span class="valor">99999999999</span></th>
                        <th><img src="../public/img/Rectangle 88.png" alt=""></th>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="product-factura">
            <div>
              <button>Ultimas Ventas</button>
              <button>Imprimir Ultima Factura</button>
            </div>
            <div>
              <button>Cancelar Venta</button>
              <button>Cobrar</button>
              <div>
                <table>
                  <tr>
                    <td>Subtotal <span>$</span> </td>
                    <td><span>2221211</span></td>
                  </tr>
                  <tr>
                    <td>Descuento Total <span>$</span> </td>
                    <td><span>2221211</span></td>
                  </tr>
                  <tr>
                    <td>Total final<span>$</span> </td>
                    <td><span>2221211</span></td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
      </section>
      <aside class="panel-left">
        <div class="panel-left-categorias">
            <ul>
                <li><button>Categoría 1</button></li>
                <li><button>Categoría 2</button></li>
                <li><button>Categoría 3</button></li>
                <li><button>Categoría 3</button></li>
                <li><button>Categoría 3</button></li>
            </ul>
        </div>
        <div class="panel-left-productos">
            <ul>
                <li><button>Producto 1</button></li>
                <li><button>Producto 2</button></li>
                <li><button>Producto 3</button></li>
            </ul>
        </div>
      </aside>
    
    </main>
    <footer>
      <div class="container">
        <ul class="nav-left">
          <li> Estado: <span>estdo</span></li>
          <li> Servidor: <span>estdo</span></li>
        </ul>
      </div>
    </footer>
    <script src="../public/js/main.js"></script>
  </body>
</html>